.hero {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 15vh;
  text-align: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(31, 24, 78, 0.85) 0%,
    rgba(68, 75, 146, 0.523) 100%
  );
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #f8f4f9;
  padding: 0 1rem;
}

.hero-title {
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: clamp(1.2rem, 3vw, 1.75rem);
  font-weight: 700;
  margin-bottom: 2rem;
  color: #f8f4f9;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Button Styles */
.button1,
.button2 {
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  box-shadow: 0 4px 12px var(--shadow-color);
  width: auto;
}
.button1 {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button1:hover {
  background-color: var(--color-secondary);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px var(--shadow-color);
}
.button2 {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.button2:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px var(--shadow-color);
}

.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  z-index: 3;
  opacity: 0.85;
  border: 5px solid #1f184e;
}

.circle-top-right {
  top: 40px;
  right: 80px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.circle-bottom-left {
  bottom: 80px;
  left: 50px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 10vh;
    align-items: start;
  }
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .circle {
    width: 220px;
    height: 220px;
  }

  .circle-bottom-left {
    bottom: 50px;
    left: 20px;
  }
}
